@model IEnumerable<MechanicWorkshop>

@{
    ViewData["Title"] = "MechanicWorkshop";
}

<div class="container">
    <div class="row">
        @foreach (var mechanicWorkshops in Model)
        {
            @Html.Partial("_ListOfMechanicWorkshops", mechanicWorkshops)
        };
    </div>
</div>